<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Home</title>
	<!--MDL Layout CSS-->
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
	<div class="mdl-layout mdl-js-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title logo">
					<a asp-controller="Home" asp-action="Index">Godness Library Management System</a>
				</span>
				<div class="mdl-layout-spacer"></div>
				<!--Navigation Bar Link-->
				<a class="mdl-navigation__link" asp-controller="Catelog" asp-action="Index">Asset</a>
				<a class="mdl-navigation__link" asp-controller="LibraryBranch" asp-action="Index">Branch</a>
				<a class="mdl-navigation__link" asp-controller="Patrons" asp-action="Index">Patron</a>
			</div>
		</header>

		<div class="page-content">
			@RenderBody()
		</div>
	</div>

	<div class="footer-container">
		<footer class="mdl-mini-footer">
			<div class="mdl-mini-footer__left-section">
				&copy; 2020 - Godness Library Management System
			</div>
		</footer>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)

</body>

</html>
